<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>

	<!-- Tabs -->
	<extension id="ExampleWorkspaceTab" point="org.protege.editor.core.application.WorkspaceTab">
		<label value="Pattern Tab"/>
		<class value="edu.stanford.bmir.protege.examples.tab.PatternTab"/>
		<index value="Y"/>
		<editorKitId value="OWLEditorKit"/>
		<defaultViewConfigFileName value="viewconfig-exampletab.xml"/>
   </extension>

	<!-- View -->

	<extension id="ExtractionViewComponent" point="org.protege.editor.core.application.ViewComponent">
		<label value="Pattern Extraction" />
		<class value="edu.stanford.bmir.protege.examples.view.ExtractionViewComponent" />
		<headerColor value="@org.protege.ontologycolor"/>
		<category value="@org.protege.ontologycategory" />
	</extension>
	
	<extension id="CoverageViewComponent" point="org.protege.editor.core.application.ViewComponent">
		<label value="Pattern Coverage" />
		<class value="edu.stanford.bmir.protege.examples.view.CoverageViewComponent" />
		<headerColor value="@org.protege.ontologycolor"/>
		<category value="@org.protege.ontologycategory" />
	</extension>

</plugin>
